@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
    
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (!ViewBag.Exist) { 
    <form method="post" action="@Url.Action("CheckIn", "Home")">
        <button type="submit" class="btn btn-primary">Check In</button>
    </form>
}
else
{
    if (!ViewBag.Exist1)
    {
        <form method="post" action="@Url.Action("CheckOut", "Home")">
            <button type="submit" class="btn btn-primary">Check Out</button>
        </form>
    }
}


